%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:model_texts, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:model_texts, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:model_texts, :edit, :id => @model_text.id)

.tabs-content
  = form_for :model_text, url(:model_texts, :update, :id => @model_text.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'model_texts/form', :locals => { :f => f }
