%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:model_texts, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:model_texts, :new)

.tabs-content
  = form_for :model_text, url(:model_texts, :create), :class => 'form-horizontal' do |f|
    =partial 'model_texts/form', :locals => { :f => f }
