- content_for :title do
  No al Distrito Joven en la Reserva

- content_for :meta_name do
  No al Distrito Joven en la Reserva

-# Intro
.container-fluid.padless
  %img.cover{src: '/images/distrito_joven.jpg'}

  .container.bigger.con-padding-inferior

    %h1 No al Distrito Joven en la Reserva

    %p
      De aprobarse mañana 15 de diciembre el proyecto de creación del
      Distrito Joven en Costanera Norte, el área costera de la Reserva y
      todo el Parque de la Memoria quedarían habilitados para su
      explotación comercial.

    %p
      A fines de 2012 la
      %a{href: 'http://www2.cedom.gov.ar/es/legislacion/normas/leyes/ley4467.html'} Ley 4467,
      que declaró la Reserva como tal, dispuso un plazo de 90 días para
      la creación de un convenio  que conformase el grupo de
      administración y sus funciones, como crear e implementar un plan de
      manejo

    %p El cumplimiento de este artículo sigue en falta 4 años más tarde.

    %p
      La ley que permitirá la concesión de toda la zona costera, sin
      embargo, se está tratando en tiempos inusualmente rápidos,
      impidiendo toda posibilidad de debate público y de la formación de
      posiciones profesionales que los legisladores puedan considerar a
      la hora de votar.

    %p
      %a.btn.btn-info.btn-lg{href: 'http://www.observatoriociudad.org/?s=noticia&n=103', target: '_blank'} Más información

-# Contenido
.container-fluid
  .row-fluid

    -# Sidebar
    %aside.col-md-3.pull-right#sidebar
      %a.btn.btn-primary.btn-act#btn-mail{href: '#mail'} Escribiles
      %a.btn.btn-primary.btn-act#btn-tw{href: '#tw'} Tuiteales
      %a.btn.btn-primary.btn-act#btn-timeline{href: '#timeline', data: {hashtag: 'DistritoJoven', id: '809117380161007616'}} Ver #DistritoJoven

    %section.col-md-9
      %article
        %header

        %section.row-fluid.tab#legis-tab
          = partial "legi/gato", collection: Legi.where(region: 'AR-C').shuffle

= partial "modal/mail", locals: { asunto: 'Defendamos la Reserva Ciudad Universitaria' }
= partial "modal/tweet", locals: { tweet: "Legisladores %legis% no privaticen la Reserva de Ciudad Universitaria con el proyecto #DistritoJoven" }
