.twtl
  %a.twitter-timeline{href: "https://twitter.com/hashtag/#{hashtag}", data: {dnt:"true", "widget-id":"#{widget_id}"}}
    Tweets sobre ##{hashtag}
  %script{async: 'async', defer: 'defer', src: "//platform.twitter.com/widgets.js", charset: "utf-8"}
